<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
<!--     <script src="/js/event/showAll.js" defer></script> -->
    <script src="/js/admin/events/showAll.js"></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <%- include('./nav.ejs') %>

    <style>
        .location{
            font-size: 1rem !important;
        }
    </style>

    <main class="container-fluid mt-3">

            <div id="events" class="col">
            </div>
        </div>
    </main>
</body>
</html>