<style>
    nav a{
        color: white;
        font-size: 1.3rem;
    }
</style>
<nav class="navbar justify-content-center mt-3 brand-color-bg sofia-font">
    <a href="/admin/events" class="nav-link py-2 px-4 active">Eventos</a>
    <a href="#" class="nav-link py-2 px-4">Grupos</a>
    <a href="#" class="nav-link py-2 px-4">Usuarios</a>
</nav>