<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>

    <script src="/js/group/showMyGroups.js" defer></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <%- include('../partials/nav.ejs') %>

    <main class="container-fluid mt-3">
        <div class="row">
            <div id="firstHalf" class="col-6 ml-3">
                <h1 class="mb-3">Grupos en los que eres lead</h1>
<!--                 <div class="row mt-3">
                    <div class="col d-flex">
                        <h3>Grupo de charless para Hombres G</h3>
                        <button class="btn btn-primary ml-3">Entrar</button>
                    </div>
                    <hr>
                </div> -->

                <div id="leadGroups" class="col mt-5"></div>

            </div>
            <div id="secondHalf" class="col">
                <h1>Grupos en los que eres participante</h1>
<!--                 <div class="row mt-3">
                    <div class="col d-flex">
                        <h3>Grupo de juan_guay para Skinyz</h3>
                        <button class="btn btn-primary ml-3">Entrar</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col d-flex">
                        <h3 class="mb-3">Grupo de Ana29 para Riverland 2023</h3>
                        <button class="btn btn-primary ml-3">Entrar</button>
                    </div>
                    <hr>
                </div> -->

                <div id="participantGroups" class="col"></div>

            </div>
        </div>
    </main>
</body>
</html>