<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>

    <script src="/js/group/showMyGroups.js" defer></script>
<!--     <script src="/js/group/showMyParticipant.js" defer></script> -->
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <%- include('../partials/nav.ejs') %>

    <main class="container-fluid mt-4">
        <div class="row">
            <div id="firstHalf" class="col-6 ml-3">
                <h1 class="mb-3">Grupos en los que eres lead</h1>

                <div id="leadGroups" class="col mt-5"></div>

            </div>
            <div id="secondHalf" class="col">
                <h1>Grupos en los que eres participante</h1>

                <div id="participantGroups" class="col mt-5"></div>

            </div>
        </div>
    </main>
</body>
</html>