<header class="container-fluid">
    <div id="headerRow" class="row justify-content-between mt-3">
        <div id="title" class="col-2 ml-5">
            <h1>Fest Gangs</h1>
        </div>
        <div class="col-4 mt-3">
            <form>
                <div class="row">
                    <div class="col mr-0 pr-0">
                        <select name="filter" id="filterSearch" class="form-control">
                            <option value="artist">Por artista</option>
                            <option value="location">Por ubicación</option>
                        </select>
                    </div>
                    <div class="col-8 ml-0 pl-0 mr-0 pr-0">
                        <input id="search" type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <div class="col-1 ml-0 pl-0">
                        <button class="btn btn-primary brand-color-bg text-white">-></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2 pl-4 d-flex">
            <!-- <p><%= user.name %></p> -->
<!--             <img id="profileMini" style="max-height: 150px; max-width: 150px;"
            class="img-fluid rounded-circle"
            src="/userFiles/3/img/profile.jpg" alt="imagenperfil"> -->
            <div id="profileMini" class="rounded-circle"
            style="background-size: cover; background-position: center;
            min-height: 80px; min-width: 80px;">&nbsp;</div>
            <div class="dropdown">
                <a href="#"
                type="button"
                class="btn btn-primary dropdown-toggle"
                id="dropdownHeader"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                dgfgdf
                </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownHeader">
                <li><a href="#" class="dropdown-item">Elemento 1</a></li>
                <li><a href="#" class="dropdown-item">Elemento 1</a></li>
            </ul>
            </div>
            <!-- <button id="cerrarSesion">Cerrar sesión</button> -->
        </div>
    </div>

    <script src="/js/header/profileMiniPhoto.js"></script>
    <script src="/js/login/logout.js"></script>
</header>