<header class="container-fluid bg-white">

    <script src="/js/admin/adminHeader.js" defer></script>

    <div id="headerRow" class="row justify-content-between mt-3">
        <div id="title" class="col-2 ml-5">
            <h1 class="text-nowrap brand-font"><span class="brand-color-text clicker">F</span>est<span class="brand-color-text">G</span>angs</h1>
        </div>
        <div class="col-4 mt-3">
<!--             <form>
                <div class="row">
                    <div class="col mr-0 pr-0">
                        <select name="filter" id="filterSearch" class="form-control">
                            <option value="artist">Por artista</option>
                            <option value="location">Por ubicación</option>
                        </select>
                    </div>
                    <div class="col-8 ml-0 pl-0 mr-0 pr-0">
                        <input id="search" type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <div class="col-1 ml-0 pl-0">
                        <button class="btn btn-primary brand-color-bg text-white">-></button>
                    </div>
                </div>
            </form> -->
        </div>
        <div class="col-2 pl-4">

            <div id="userMenu" class="dropdown pr-2 d-flex">
                <div class="rounded-circle profilePhoto"
                style="background-size: cover; background-position: center;
                min-height: 80px; min-width: 80px;" data-bs-toggle="dropdown">&nbsp;</div>

                <a href="#"   
                class="btn-lg dropdown-toggle align-self-center"
                id="dropdownHeader"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                
                </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownHeader">
                <li><a href="/user/profile" class="dropdown-item">Ver perfil</a></li>
                <li><a href="/group/myGroups" class="dropdown-item">Mis grupos</a></li>
                <hr id="beforeChangeView" class="dropdown-divider">
                <li><a href="/login/close" class="dropdown-item text-danger">Cerrar sesión</a></li>
            </ul>
            </div>
        </div>
    </div>

    <script src="/js/header/profilePhoto.js" defer></script>
    <script src="/js/login/logout.js"></script>
</header>