<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/event/event.js" defer></script>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <%- include('./partials/nav.ejs') %>

    <main class="container-fluid mt-3">
        <div class="row justify-content-around">
            <div class="col-4 ml-4">
                <p>Aquí irá el calendario</p>
            </div>
            <div id="events" class="col-4 mr-4">
            </div>
        </div>
    </main>
</body>
</html>