<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %>
    <script src="/js/login/logout.js" defer></script>

</head>
<body>
    <h1>Bienvenido a FestGangs, <%= user.name %></h1>

    <button id="cerrarSesion">Cerrar sesión</button>

</body>
</html>