<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <%- include('./partials/nav.ejs') %>

    <script src="/js/profile/profileDetails.js" defer></script>

    <style>
        #photo {
            background-size: cover;
            background-position: center;
            height: 200px;
            width: 200px;
        }

        .container-centered .row{
            display: flex;
            justify-content: center;
        }
    </style>

    <main class="container-fluid mt-3">
        <div class="row" style="min-height: 500px;">
            <div class="col-6">
                <div class="container-fluid container-centered">
                    <div class="row">
                        <div class="rounded-circle profilePhoto" id="photo"></div>
                    </div>
                    <div class="row mt-2">
                        <p class="text-secondary fs-6"><a href="#">Editar</a> | <a href="#">Borrar</a></p>
                    </div>
                    <div class="row">
                        <p id="username"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="info">
                    <h2>Sobre mí</h2>
                    <p id="bio"></p>
                    <hr>
                    <h2>Artistas favoritos</h2>
                    <p id="favArtists"></p>
                    <hr>
                    <h2>Géneros favoritos</h2>
                    <p id="favGenres"></p>
                    <hr>
                </div>
            </div>
        </div>
    </main>
</body>

</html>