<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <script src="/js/inicioSesion.js" defer></script>

</head>
<body>
    <h1>Bienvenido a FestGangs</h1>

    <h2>Inicia sesi칩n, parguela</h2>
    <form id="formSesion">
        <label for="email">Correo electr칩nico</label>
        <input type="text" name="email" id="email"><br>
        <label for="pass">Contrase침a</label>
        <input type="text" name="pass" id="pass"><br>
        <button id="inicioSesion">Inicia sesi칩n</button>
    </form>
    <p id="message"></p>

</body>
</html>