<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/dynamicBg.js" defer></script>
    <script src="/js/signup/signup.js" defer></script>
    <script src="/js/info/appInfoModal.js" defer></script>

    <!-- Estilos comunes de la página -->
    <link rel="stylesheet" href="/css/common.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6" id="ventanaForm">
                <h1 class="text-center mt-4 brand-font">Únete a <span class="brand-color-text clicker">F</span>est<span class="brand-color-text">G</span>angs</h1>

                <form id="formSign">
                    <div class="form-group mt-5 mx-3">
                        <label for="username">Nombre de usuario</label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="Username">
                        <div class="invalid-feedback">Introduce un nombre válido</div>
                    </div>
                    <div class="form-group mx-3">
                        <label for="email">Correo electrónico</label>
                        <input class="form-control" type="text" name="email" id="email" placeholder="example@mail.com">
                        <div class="invalid-feedback">Introduce un correo válido</div>
                    </div>
                    <div class="form-group mx-3">
                        <label for="pass">Contraseña</label>
                        <input class="form-control" type="password" name="pass" id="pass" placeholder="********">
                        <p class="mt-3" id="message"></p>
                        <input type="hidden" name="token" id="token" value="<%= token %>">
                    </div>
                    <div class="row mt-4 mb-3 align-items-around">
                        <div class="col-4">
                            <button class="btn btn-primary" id="createButton">Crear cuenta</button>        
                        </div>
                        <div class="col-4">
                            <button id="buttonAppInfo" class="btn btn-success">¿Qué es FestGangs?</button>
                        </div>
                    </div>
                    <div class="row mt-4 mb-3">
                        <p class="small">¿Ya tienes cuenta? <a href="/login">Inicia sesión aquí</a></p>
                    </div>
                </form>

                <div class="modal fade" id="appInfo" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title sofia-font">¿Qué es FestGangs?</h3>
                                <button type="button" class="close" data-bs-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
            
                            <div class="modal-body">
                                <p>¡Únete a FestGangs, donde la pasión
                                    por la música se une con la emoción de la compañía! Si eres un verdadero amante
                                    de la música en vivo, estás en el lugar indicado.</p>
                                <p>¿Alguna vez has querido ir a un concierto, pero te faltaba compañía?
                                    ¡Hora de romper barreras! En FestGangs podrás conectar
                                    con personas con gustos similares, compartir experiencias y asistir a conciertos y festivales juntos.</p>
                                <p>En FestGangs podrás ver y buscar conciertos y festivales próximos y apuntarte a algún
                                    grupo de personas que vaya ir. ¡O incluso crear uno!
                                </p>
                                <p>Ya sea que te fascine el rock, el pop, el indie o cualquier otro género, aquí encontrarás
                                    una comunidad vibrante y acogedora.</p>
                                <p>No importa si eres un novato en esto o un veterano experimentado, FestGangs te brinda
                                    un espacio inclusivo y amigable para conectar con personas afines y expandir tu círculo social.
                                    La música tiene el poder de unir a las personas, y nosotros queremos ser tu puerta de entrada a
                                    una comunidad en la que puedas crear recuerdos inolvidables.</p>
                                <p>Regístrate ahora y únete a la comunidad que estabas esperando
                                    Ya sea en la pista o en las gradas, ¡allí nos vemos!</p>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>