@font-face{
    font-family: Baguet;
    src: url('/fonts/BaguetScript-Regular.otf');
}

@font-face{
    font-family: Sofia;
    src: url('/fonts/Sofia-Regular.ttf');
}

@font-face{
    font-family: Clicker;
    src: url('/fonts/ClickerScript-Regular.ttf');
}

.brand-font{
    font-family: Baguet, Sofia, Clicker, Garamond, Georgia, serif;
}

.sofia-font{
    font-family: Sofia, Baguet, Clicker, Garamond, Georgia, serif;
}

.clicker-font{
    font-family: Clicker, Sofia, Garamond, Georgia, serif;
    font-weight:900;
}

.brand-color-bg{
    background-color: #00b0f0;
}

.brand-color-text{
    color: #00b0f0;
}