<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>

    <%- include('../partials/header.ejs') %>

    <%- include('../partials/nav.ejs') %>

    <main class="container-fluid mt-3 text-center">
        <h1>Internal server error 500</h1>
        <h5 class="text-secondary mt-3">Algo ha salido mal :( Prueba otra vez más tarde</h5>
    </main>
    
</body>
</html>